<div id="<%= dom_id telefone %>">
  <p>
    <strong>Numero:</strong>
    <%= telefone.numero %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= telefone.tipo %>
  </p>

  <p>
    <strong>Proponente:</strong>
    <%= telefone.proponente_id %>
  </p>

</div>
