<h1 class="mb-3">Editar Proponente</h1>

<%= render "form", proponente: @proponente %>

<div class="mt-4">
  <%= link_to "Visualizar", @proponente, class: "btn btn-primary" %> |
  <%= link_to "Voltar", proponentes_path, class: "btn btn-secondary" %>
</div>
